{% extends "html/homepage-worker.html" %}

{% block content %}

<!-- Add any links to other payment methods or refund forms here -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Related reservation id</th>
        <th scope="col">Complaint status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for complaint in complaints%}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{complaint.last_updated}}</td>
        <td>{{complaint.reservation.reservation_ID}}</td>
        <td>{{complaint.status}}</td>
        <td>
            <form id="details" action="/complaint/detail/{{complaint.comp_ID}}" method="" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-light" value="Details"
                        form="details">Details
                </button>
            </form>
            {%if complaint.status == "opened"%}
            <form id="cancel" action="/complaint/close/{{complaint.comp_ID}}" method=""
                  style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-light" value="Cancel"
                        form="cancel">Cancel
                </button>
            </form>
            {%endif%}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}