
{% extends "html/homepage.html" %}

{% block content %}
	<h1>Make a Payment</h1>
	<form method="post" action="/payment/pay/{{reservation.reservation_ID}}">
		{% csrf_token %}
		<label>Reservation ID: {{reservation.reservation_ID}}</label><br>
		<label>Payment value to be processed: {{reservation.reserved_bike.rent_value}}</label><br>
		<label>Bike name: {{reservation.reserved_bike.name}}</label><br>
		<input type="submit" value="Pay">
	</form>

	<!-- Add any links to other payment methods or refund forms here -->
{% endblock %}
