{% extends "html/homepage.html" %}

{% block content %}

<div class="container" style="padding-top:100px;padding-bottom:100px;max-width:30%">
    <h1 class="display-1" style="text-align:center;padding-bottom:20px;">Register</h1>
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="phone_num">Phone Number</label>
            <input type="tel" pattern="[0-9]{9}" id="phone_num" class="form-control" name="phone_num" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" class="form-control" name="email" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="pass1">Password</label>
            <input type="password" id="pass1" class="form-control" name="pass1" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="pass1">Confirm Password</label>
            <input type="password" id="pass2" class="form-control" name="pass2" required/>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
    </form>
</div>
<!-- Add any links to other pages or login forms here -->
{% endblock %}
